<!DOCTYPE html>
<html>
<head>
  <title>Grammable</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">


  <div class="row"><!-- begin row - BODY -->
    <div class="col-md-8 col-md-offset-2" id="bodycol">

      <div class="row"><!-- begin row - HEADER -->
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1" id="headerrow">

          <div class="brand pull-left">
            <%= link_to "treegrammar", root_path %>
          </div>
          <div class="users pull-right">
            <% if current_user %>
              <span class="navhandle">Hi, <%= current_user.username %></span>
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
              <%= link_to "New Post", new_gram_path, class: 'btn btn-sm btn-success', role: 'button' %>
            <% else %>
              <%= link_to "Log In", new_user_session_path %>
              <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-sm btn-success', role: 'button' %>
            <% end %>
          </div>

        </div>
      </div><!-- end row - HEADER -->

      <div class="row"><!-- begin row - CONTENT -->
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

          <% if notice.present? %>
            <p class="alert alert-success text-center"><%= notice %></p>
          <% end %>
          
          <% if alert.present? %>
            <p class="alert alert-danger text-center"><%= alert %></p>
          <% end %>


          <%= yield %>

        </div>
      </div><!-- end row - CONTENT -->

    </div>
  </div><!-- end row - BODY -->

</div><!-- end container -->


</body>
</html>
